<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Daily Wake-up Call</title>
  <style>
    .container {
      max-width: 600px;
      width: 100%;
    }
    .workout-container {
      background-color: #bfd3c1; /* Green background color */
    }
    .equipment-container {
      background-color: #ffe5d4; /* Red background color */
      color: 694f5d;
    }
    .section-background {
      background-color: #efc7c2; /* Light Red background color */
      color: 694f5d;
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top">
          <div class="container">
            <img src="<%= feat_image %>" width="100%" style="margin: 0; padding: 0; border: none; display: block;" alt="Workout image">
          </div>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <div class="container workout-container">
            <div style="padding: 20px; color: white; font-size: 34px; font-weight: bold; letter-spacing: 0.30px; font-family: 'Play', sans-serif;">
              <h2>Wake-Up Call </br> <%= DateTime.now.strftime('%A, %B %-d') %></h2>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <div class="container equipment-container">
            <div style="padding: 20px; font-size: 36px; color: black; font-family: 'Open Sans', sans-serif;">
              <h4> Equipment to pack: <br> <%= matched_terms.join(', ') %></h4>
              <h4>Today's Weather for New Orleans, LA: <br> <%= weather_info %></h4>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <div class="container section-background">
            <div style="padding: 30px; font-size: 18px; color: #47423b; font-family: 'Open Sans', sans-serif;">
              <h2 class="workout">Today's Workout:</h2>
              <%= scraped_data_html %>
            </div>
          </div>
        </td>
        <div style="padding: 40px;">
      </div>
      </tr>
    </table>
    <div align="center" valign="top">
    <a href="https://jerryvohrer.weebly.com/contact">
      <img align="center" src="https://pbs.twimg.com/profile_images/1758887850060201984/uJ9F3Aad_400x400.jpg" width="15%" style="margin: 0; padding: 0; border: none; display: inline-block;" alt="Jerry Vohrer Logo">
    </a>
  </div>
  </center>
</body>
</html>
